header span.logo{
	background-image: app-asset-url("logo-small.png");
}
.header{
	margin-bottom: 8px;
}
.cog{
	margin-top: 6px;
	margin-right: 8px;
	opacity: 0.5;
	float: right;
}
.cog:hover{
	opacity: 1;
}
.modal{
	display: none;
	width: 560px;
	margin-top: -340px;
	margin-left: -280px;
	overflow: hidden;
}
.modal-body{
	max-height: 590px;
}
hr.split{
	margin-top: 8px;
	margin-bottom: 10px;
}
h3{
	font-size: 14px;
	line-height: 30px;
}
.alert-error{
	display: none;
}
.input-tb-project{
	width: 100%;
	height: auto;
	box-sizing:border-box;
}
.my_modal3 textarea{
	width: 100%;
	height: 100px;
	box-sizing:border-box;
}
.my_modal.compact{
	width: 449px;
	margin-left: -225px;
}
.copy-ticket{
	margin-right: 5px;
}
.controls{
	padding: 5px;
}
.controls input{
	line-height: 18px;
}
.form-horizontal .control-label{
	text-align: left;
	padding-left: 20px;
}
.description{
	height: 100px;
}
/*admin style*/
.admin .close-admin{
	float: right;
	opacity: 0.5;
}

.admin .close-admin:hover{
	opacity: 1;
}
.center{
	text-align: center;
}
/*related issue*/
.issues h3{
	font-size: 13px;
	line-height: 13px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 8px;
	margin-bottom: 18px;
}
.issues .action{
	opacity: 0.2;
}

.issues .action:hover{
	opacity: 1;
}
.issues .issue{
	padding-left: 30px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 17px;
	margin-top: 18px;
	position: relative;
}
.issues .issue .avatar{
	   float: left;
    position: absolute;
    left: 6px;
    top: 0px;
}
.issues .issue ul{
	margin-left: 0;
	color: #7b7b7b;
}
.issues .issue .avatar svg{
	width: 16px;
	height: 16px;
	fill:#555;
}